/*Keyframes*/
@keyframes trafficUp{
	from{ transform: translateY(500px);
		opacity: 0;}
	to{ transform: translateY(0);
		opacity: 1;}
}
@keyframes trafficDown{
	from{ transform: translateY(-500px);
		opacity: 0;}
	to{ transform: translateY(0);
		opacity: 1;}
}
@keyframes trafficRight{
	from{ transform: translateX(-500px);
		opacity: 0;}
	to{ transform: translateY(0);
		opacity: 1;}
}
@keyframes trafficLeft{
	from{ transform: translateX(500px);
		opacity: 0;}
	to{ transform: translateX(0);
		opacity: 1;}
}

@keyframes slideRight{
	from{ 
		transform: translateX(-20px);
		opacity: 0;
	} 
	to{
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes slideLeft{
	from{ 
		transform: translateX(20px);
		opacity: 0;
	} 
	to{
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes slideUp{
	from{ 
		transform: translateY(20px);
		opacity: 0;
	} 
	to{
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes colorChange{
	from{
		color: #FF69B4;
	}
	to{
		color: #22A7F0;
	}
}

/*Used to have a thing here about things*/
h1 a{
	transition: color 0.3s;
}
#p{
	animation: trafficDown 1.1s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), colorChange 1s 1.1s;
}
#a1{
	animation: trafficLeft 1s, colorChange 1s 1.2s;
}
#u{
	animation: trafficRight 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), colorChange 1s 1.3s;
}
#l1{
	animation: trafficRight 1s, colorChange 1s 1.4s;
}
#w{
	animation: trafficDown 1s, colorChange 1s 1.4s;
}
#a2{
	animation: trafficLeft 1s, colorChange 1s 1.5s;
}
#l2{
	animation: trafficRight 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), colorChange 1s 1.6s;
}
#l3{
	animation: trafficRight 1s, colorChange 1s 1.7s;
}
#a3{
	animation: trafficLeft 1s, colorChange 1s 1.8s;
}
#c{
	animation: trafficRight 1s, colorChange 1s 1.9s;
}
#e{
	animation: trafficRight 1s, colorChange 1s 2.0s;
}


.software-engineer{
	animation: slideRight 1s;
}

.computer-sciencer{
	animation: slideLeft 1s;
}

header h3{
	animation: slideUp 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.about-box{
	animation: slideUp 1s;
}


#p:hover{
	color: #FF69B4;
}
#a1:hover{
	color: #FF69B4;
}
#u:hover{
	color: #FF69B4;
}
#l1:hover{
	color: #FF69B4;
}
#w:hover{
	color: #FF69B4;
}
#a2:hover{
	color: #FF69B4;
}
#l2:hover{
	color: #FF69B4;
}
#l3:hover{
	color: #FF69B4;
}
#a3:hover{
	color: #FF69B4;
}
#c:hover{
	color: #FF69B4;
}
#e:hover{
	color: #FF69B4;
}