/*Clearfix */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 16px; /*Default size*/
  /*font-size: 100%*/
}

/*html{
  background: url(59H-from-gratisography.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
body{
	/*background-color: #22313F;*/
	/*background-color: #22A7F0;*/
	/*background-image: url(subtle-geometry.jpg);*/
	/*background-image: url(white-circles.jpg);*/
	/*font-family: Verdana, Geneva, sans-serif;*/
	/*font-family: Tahoma, Geneva, sans-serif*/
	/*font-family: Arial, Helvetica, sans-serif*/
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 62.5%; 
}
nav {
	/*position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 50px;
	background-color: #22A7F0;
	font-size: 20px;
	border-bottom: 1px solid #5c5c5c ;*/
	height: 50px;
	width: 100%;
	background: #22A7F0;
	font-size: 18px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	position: fixed;
	z-index: 1;
	/*border-bottom: 2px solid #283744;*/

/*	box-shadow:  2px 2px 5px #333;*/
}

nav ul{
	padding: 0;
	/*margin: 0 auto;*/
	margin-left: 15%;
	width: 600px;
	height: 50px;
	position: absolute;
	left: 0;
}

nav li{
/*	display: inline;
	padding: 20px;
	height: 50px;
    line-height: 50px;
    color: white;*/
    display: inline;
	/*float: left;*/
/*	line-height: 50px;*/
}

nav a{
	color: #fff;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 50px;
	font-size: 1.1em;
/*	text-shadow: 1px 1px 0px #283744;*/
}
nav li a{
/*	border-right: 1px solid #576979;*/
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
/*	color: white;
	text-decoration: none;
	padding: 15px;*/
}

nav li:last-child a {
	border-right: 0;
}
nav a:hover/*, nav a:active*/ {
	background-color: #22FFFF;
}
nav a#pull {
	display: none;
}
.top2{
	display: none;
}




.p:hover{
	color: #22FFFF;
}

header{
	/*padding : 50px;*/
	padding-left: 0px;
	padding-right: 0px;
	/*margin-left: 5%;*/
	/*background-color: #4183D7;*/
	/*background-color: #efefef;*/
	background-color: white;
	/*margin-top: 50px;*/
	width: 100%;
	height:100vh;
	/*background-image: url(smaller-guill-background.png);*/
	background-attachment: fixed;
	background-size: 100vm;
	/*background-image: url(apple-monitor.jpeg);*/
/*	background-image: url(Pictures/confectionary.png);*/
	background-image: url(Pictures/footer_lodyas.png);
	/*background-image: url(Pictures/small_steps.png);*/
/*	background-image: url(Pictures/seamless_paper_texture.png);*/
	text-align: center;
}

header img{
	width: 100%;
	height: 100%;
}

header h1{
	display: block;
	padding-top: 25vh;
	text-align: center;
	font-size: 100px;
	width: 100%;
	/*color: #22A7F0; */
	color: #22A7F0;
	margin-bottom: 10px;
}

header a{
	text-decoration: none;
	font-size: 1em;
}

header h2{
	display: block;
	text-align: center;
	margin-bottom: 10px;
	color: #aaa;
}

header h3{
	color: white;
}
main{
	/*margin-left: 15%;
	margin-right: 15%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 50px;*/
	background-color: white;
	color: #444;
}

h2{
	font-size: 40px; 
	display: inline;
}

h3{
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 10px; 
}

p{
	font-size: 18px;
	display: inline;
	line-height: 20px;
	max-width: 600px;
}

aside{
	font-size: 20px;
	line-height: 30px;
	font-style: italic;
	color: #666;
}

a{
	color: #22A7F0;
}

button{
	outline: none;
}




.about{
	padding: 80px 15% 50px 15%;
	border-top: 1px solid #dfdfdf;
	height: 100%;
	overflow: hidden;
	max-width: 1000px;
	/*border: 10px solid blue;*/
	margin: 0 auto 0 auto; 
	/*border: 10px solid black;*/
	/*background-image: url(white-circles.jpg);*/
}

.about-contain{
	
	
}
.about-me-paragraph{
	text-align: left;
	float: right;
	max-width: 650px;
	line-height: 20px;
	font-size: 1em;
	/*border: 10px solid black;*/
}
.about-me-paragraph a{
	font-size: 1em;
}
.profile{
	width: 200px;
	border-radius: 100px;
	margin: 20px;
	margin-bottom: 0;
	border: 5px solid #22A7F0;
}

.about-box{
	display: block;
	float: left;
	padding-bottom: 20px;
	padding-top: 50px;
}
.about h2{
	color: #22A7F0;
	display: inline-block;
	padding-bottom: 20px;
}

.projects{
	padding: 50px 15% 50px 15%;
	background-color: #f8f8f8;
	border-top: 1px solid #dfdfdf;
	max-width: 1000px;
	margin: 0 auto 0 auto;
}

.projects ul{
	list-style-type: none;
	height: 100%;
}

/*.project-list li:last-child{
	border-bottom: 0 solid #000;
}*/



.projects h2{
	display: block;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 20px;

}

.projects li{
	overflow: auto;
	background-attachment: fixed;
	padding: 20px;
}


.go{
	color: black;
}

.tether{
	color: black;
}

.triton-battle{
	color: black;
}

.project{
	margin-bottom: 20px;
	line-height: 20px;
	border-bottom: 1px solid #bfbfbf;
	padding-bottom: 20px;
}

.project-picture{
	width: 400px;
	float: right;
/*	margin: 0 auto 0 auto;*/
	margin: 40px;
}

.project-picture img{
	max-width: 100%;
	max-height: 100%;
	height: auto;
	border: 3px solid #444;
}

.project-paragraph{
	max-width: 600px;

}

.project-paragraph a{
	font-size: 1em;
}
.project p{
	font-size:18px;
}

.contact{
	padding: 50px;
	border-top: 1px solid #bfbfbf;
	text-align: center;
}

.contact h2{
	display: block;
	text-align: center;
}

.contact h3 a{
	font-size: 1em;
}
.contact label{
	display: block;
	font-weight: bold;
	text-align: center; 
	font-size: 20px;
}
.contact textarea{
	font-size: 25px;
	width: 50%;
	height: 200px;
	display: block;
	margin: 0px auto 20px auto;
	border: 3px solid #5c5c5c;
	outline: none;
}
.contact input{
	width: 50%;
	display: block;
	margin: 0px auto 20px auto;
	border: 3px solid #5c5c5c;
	font-size: 25px;
	outline: none;
}

/*.contact a{
	display: inline;
}
input[type=submit]{
	width: 100px;
}*/

.button{
	cursor: pointer;
	border-radius: 5px;
	padding: 5px 10px 5px 10px; 
	font-size: 25px; 
/*	transition: .4s;
	-webkit-transition: .4s;
  	-moz-transition: .4s;
  	-o-transition: .4s;*/
  	display: inline-block;
	text-decoration: none;
	background-color: white;
	color: black;
	border: 2px solid black;
	margin: 0px 5px 0px 5px;
}

input:focus{
	border: 3px solid #22A7F0;
}

.button:hover {
	/*cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;*/
	color: #22A7F0;
	/*border: 2px #22A7F0 solid;*/
	background-color: #22A7F0;
	color: #f8f8f8;
}

textarea:focus{
	border: 3px solid #22A7F0;
}


footer{
	background-color: #f8f8f8;
	padding: 50px;
	text-align: center;
	color: black;
	background-attachment: fixed;
	background-image: url(Pictures/white-circles.jpg); 
}

footer .icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    vertical-align: middle;
    margin-bottom: 10px;
/*    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;*/
}
.icons a.linkedin { 
	background: url(linkedin-icon.png) left top no-repeat; 
	background-color: #222;
	/*border: 10px solid #222;*/
	border-radius: 5px
}

.icons a.github {
	background: url(github-icon.png) left top no-repeat;
	background-color: #222;
	/*border: 10px solid #222;*/
	border-radius: 5px
}

.icons a:hover { 
	/*background-position: left -34px; */
	/*-webkit-box-shadow: 0px 6px 143px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 143px -2px rgba(0,0,0,0.75);*/
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

input:not(:valid) {
	display: none;
}