/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400');
body {
	font-family: "Titillium Web", sans-serif;
	height: 100vh;
	overflow: hidden;
}
h1 {
	font-size: 5em;
	font-weight: 200;
}

h3 {
	font-size: 2em;
	font-weight: 200;
}

.mainContainer {
	max-width: 100em;
	min-width: 90em;
	margin: 0 auto;
}

.flexRow {
	display: flex;
	justify-content: center;
	width: 100%;
}



