.thirdColumn {
	width: 25%;
	height: 90vh;
	border-right: 1px solid black;
}

.projectsContainer {
	width: 100%;
	height: 100%;
}

.projectsContainer ul {
	width: 100%;
	height: 100%;
}

.projectOne {
	background-color: orange;
	width: 100%;
	height: 50%;
}

.projectTwo {
	background-color: blue;
	width: 100%;
	height: 50%;
}